<div id="<%= dom_id blueprint %>" class="blueprint">
<h2><%= blueprint.name %></h1>
<div class="resources_listing">
    <% @resources.each do |resource| %>
        <% resource_val = blueprint.send(resource) %>
        <% if resource_val %>
            <div class="crafting_resource">
                <%= image_tag "resources/#{resource}", Alt: resource %>
                <%= resource_val %>
            </div>
        <% end %>
    <% end %>
    <% @components.each do |component| %>
        <% if blueprint.components.key?(component) %>
            <div class="crafting_resource">
                <% if component == 'stone' %>
                    <% comp = blueprint.components[component]['id'] %>
                    <%= image_tag "stones/#{comp}", Alt: comp %>
                <% else %>
                    <%= image_tag "components/#{component}", Alt: component %>
                    <%= blueprint.components[component]['amount'].to_i %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
</div>
