    <div class="filter_name"><%= t(filter_name) %></div>
    <% options.each do |option| %>
        <%= form.check_box filter_target.to_sym, {
            id: "#{filter_target}_#{option}",
            value: option,
            multiple: true,
            onchange: "this.form.requestSubmit();",
            checked: checked
        }, option, nil %>
        <%= form.label "#{filter_target}_#{option}" do %>
            <% if !img_url %>
                <%= image_tag "general/tier_bg", alt:"tier#{option}" %>
                <span class="text-overlay"><%= option %></span>
            <% else %>
                <%= image_tag "#{img_url}/#{option}", alt: "option" %>
            <% end %>
        <% end %>
    <% end %>