    <div class="filter_name"><%= t(filter_name) %></div>
    <div class="filter_options">
    <% options.each do |option| %>
        <%= form.check_box filter_target.to_sym, {
            id: "#{filter_target}_#{option}",
            value: option,
            multiple: true,
            onchange: "this.form.requestSubmit();",
            checked: checked
        }, option, nil %>
        <%= form.label "#{filter_target}_#{option}" do %>
            <% if filter_name == 'tier' %>
                <%= image_tag "general/tier_bg.png", alt:"tier#{option}" %>
                <span class="text-overlay"><%= option %></span>
            <% elsif img_url == 'components' && option == 'stone' %>
                <%= image_tag "stones/runestones.png", alt: 'stones' %>
            <% else %>
                <%= image_tag "#{img_url}/#{option}.png", alt: "option" %>
            <% end %>
        <% end %>
    <% end %>
    </div>