<div id="blueprint_filters">
<%= form_with url: filter_update_path, method: :put do |form| %>
  
  <div>
    <div class="filter">
      <div class="filter_name"><span>Tier</span></div>
      <% @tiers.each do |tier| %>
        <%= form.check_box :tier, { id: "tier_#{tier}", 
                              value: tier, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();" , 
                              checked: true }, tier, nil%>
        <%= form.label "tier_#{tier}" do %>
          <%= image_tag"general/tier_bg", alt: "tier#{tier}" %>
          <span class="text-overlay"><%= tier %></span>
        <% end %>
      <% end %> 
      
      <%= form.button "", class: 'select-all-button' , data: {target: "tier" } do %>
        <%= image_tag "general/all", alt: "Select All" %>
      <% end %>
      <%= form.button "", class: 'select-none-button' , data: {target: "tier" } do %>
        <%= image_tag "general/none", alt: "Select None" %>
      <% end %>
    </div>

    <div class="filter">
      <div class="filter_name">Category</div>
      <% @weapons.each do |category| %>
        <%= form.check_box :category, { id: "category_#{category}", 
                              value: category, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();" , 
                              checked: true }, category, nil%>
        <%= form.label "category_#{category}" do  %>
          <%= image_tag "categories/#{category}", alt: category %>
        <% end %>
      <% end %>
    </div>
    <div class="filter">
      <div class="filter_name"></div>
      <% @armors.each do |category| %>
        <%= form.check_box :category, { id: "category_#{category}", 
                              value: category, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();" , 
                              checked: true }, category, nil%>
        <%= form.label "category_#{category}" do  %>
          <%= image_tag "categories/#{category}", alt: category %>
        <% end %>
      <% end %>
    </div>
    <div class="filter">
      <div class="filter_name"></div>
      <% @accessories.each do |category| %>
        <%= form.check_box :category, { id: "category_#{category}", 
                              value: category, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();" , 
                              checked: true }, category, nil%>
        <%= form.label "category_#{category}" do  %>
          <%= image_tag "categories/#{category}", alt: category %>
        <% end %>
      <% end %>
    </div>
    <div class="filter">
      <div class="filter_name"></div>
      <% @other_categories.each do |category| %>
        <%= form.check_box :category, { id: "category_#{category}", 
                              value: category, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();" , 
                              checked: true }, category, nil%>
        <%= form.label "category_#{category}" do  %>
          <%= image_tag "categories/#{category}", alt: category %>
        <% end %>
      <% end %>
    <%= form.button "", class: 'select-all-button' , data: {target: "category" } do %>
        <%= image_tag "general/all", alt: "Select All" %>
      <% end %>
      <%= form.button "", class: 'select-none-button' , data: {target: "category" } do %>
        <%= image_tag "general/none", alt: "Select None" %>
      <% end %>
    </div>
  </div>
  <div>
    <div class="filter">
      <div class="filter_name">Resources Inclu</div>
      <% @resources.each do |resource| %>
        <%= form.check_box :valid_resource, { id: "valid_resource_#{resource}", 
                              value: resource, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();"}, resource, nil%>
        <%= form.label "valid_resource_#{resource}" do  %>
          <%= image_tag "resources/#{resource}", alt: resource %>
        <% end %>
      <% end %>
      <%= form.button "", class: 'select-all-button' , data: {target: "valid_resource" } do %>
        <%= image_tag "general/all", alt: "Select All" %>
      <% end %>
      <%= form.button "", class: 'select-none-button' , data: {target: "valid_resource" } do %>
        <%= image_tag "general/none", alt: "Select None" %>
      <% end %>
    </div>
    <div class="filter">
      <div class="filter_name">Resources Exclu</div>
      <% @resources.each do |resource| %>
        <%= form.check_box :invalid_resource, { id: "invalid_resource_#{resource}", 
                              value: resource, 
                              multiple: true, 
                              onchange: "this.form.requestSubmit();"}, resource, nil%>
        <%= form.label "invalid_resource_#{resource}" do  %>
          <%= image_tag "resources/#{resource}", alt: resource %>
        <% end %>
      <% end %>
      <%= form.button "", class: 'select-all-button' , data: {target: "invalid_resource" } do %>
        <%= image_tag "general/all", alt: "Select All" %>
      <% end %>
      <%= form.button "", class: 'select-none-button' , data: {target: "invalid_resource" } do %>
        <%= image_tag "general/none", alt: "Select None" %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
