<p class="hidden" style="color: green"><%= notice %></p>

<h1><%= t('navigation.blueprints') %></h1>

<%= render 'blueprints/filter' %>

<div id="blueprints">
  <% @blueprints.each do |blueprint| %>
    <%= link_to(blueprint) do %>
      <%= render blueprint %>
    <% end %>
  <% end %>
</div>

<%# link_to "New blueprint", new_blueprint_path %>

