
<div>
  <%= month_calendar events: @events do |date, events| %>
    <div>
      <div class="date"><%= date.day %></div>
      <% events.each do |event| %>
        <p>
          <%= image_tag event.img_url, alt: "event.rewards" %>
          <% if (event.category == 'flash_quest') %>
            <%= "#{ event.name } #{ t(event.category) }" %>
          <% else %>
            <%= "#{t(event.name)} #{ t(event.category ) }" %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

