<nav id="header">
    <ul>
        <li>
            <%= link_to("https://playshoptitans.com/") do  %>
            <%= image_tag "general/logo", alt: 'Game Icon' %>
            <% end %>
        </li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Blueprints", blueprints_path %></li>
        <li><%= link_to "Heroes", "#" %></li>
        <li><%= link_to "Events", "#" %></li>
        <li><%= link_to "Calendar", calendar_path %></li>
    </ul>
</nav>